<div>
    <h2>Search book</h2>

    <form action="/books" method="GET">
        <div><label>Title</label>
            <input type="text" name="title" value="<%= searchedOptions.title %>">

            <button type="submit">Search</button>
        </div>

        <div><label>Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchedOptions.publishedAfter %>">

            <button type="submit">Search</button>
        </div>

        <div><label>Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchedOptions.publishedBefore %>">

            <button type="submit">Search</button>
        </div>
    </form>

    <br>

    <div>
        <% books.forEach(book => { %>
            <a href="/books/<%= book._id %>">
                <div title="Click to read more">
                    <p><%= book.title %></p>

                    <img height="150" width="100" src="<%= book.coverImagePath %>" alt="Loading...">
                </div>
            </a>
        <% }) %>
    </div>
</div>