<div class="main">
    <h2 class="title">Search book</h2>

    <form class="books-form" action="/books" method="GET">
        <div class="form">
            <label>Title</label>
            <input placeholder="Example: ABC..." class="input" type="text" name="title" value="<%= searchedOptions.title %>">

            <button class="btn" type="submit">Search</button>
        </div>


        <div class="form">
            <label>Published After</label>
            <input class="input" type="date" name="publishedAfter" value="<%= searchedOptions.publishedAfter %>">

            <button class="btn" type="submit">Search</button>
        </div>

        <div class="form" >
            <label>Published Before</label>
            <input class="input" type="date" name="publishedBefore" value="<%= searchedOptions.publishedBefore %>">

            <button class="btn" type="submit">Search</button>
        </div>
    </form>

    <br>

    <div class="books-wrapper">
        <% books.forEach(book => { %>
            <a href="/books/<%= book._id %>">
                <div class="books-item" title="Click to read more">
                    <p><%= book.title %></p>

                    <img src="<%= book.coverImagePath %>" alt="Loading...">
                </div>
            </a>
        <% }) %>
    </div>
</div>