<h2>Search author</h2>

<form action="/authors" method='GET'>
    <label for="name">Name</label>

    <input type="text" name="name" placeholder="Search" value="<%= searchedOptions.name %>">

    <button type="submit">
        Search
    </button>
</form>

<% authors.forEach(author => { %>
    <div style="display: flex; align-items: center; justify-content: space-around; width: 300px;">
        <h3><%= author.name %></h3>

        <div><a href="/authors/<%= author._id %>">View</a></div>

        <div>
            <a href="/authors/<%= author._id %>/edit">Edit</a>
        </div>

        <%- include('../partials/deleteForm', { url: `/authors/${author._id}` }) %>
    </div>
<% }) %>