<div class="main">
    <h2 class="title">Search author</h2>

    <form class="form" action="/authors" method='GET'>
        <label for="name">Name</label>

        <input class="input" type="text" name="name" placeholder="Search" value="<%= searchedOptions.name %>">

        <button class="btn" type="submit">
            Search
        </button>
    </form>

    <div class="search-wrapper main">
        <% authors.forEach(author => { %>
            <div class="search-item">
                <h3><%= author.name %></h3>

                <a href="/authors/<%= author._id %>">
                    <div class="edit-btn">
                        View
                    </div>
                </a>

                <a href="/authors/<%= author._id %>/edit">
                    <div class="edit-btn">
                        Edit
                    </div>
                </a>

                <%- include('../partials/deleteForm', { url: `/authors/${author._id}` }) %>
            </div>
        <% }) %>

        <% if(authors.length == 0) { %>
            <h3>No authors</h3>
        <% } %>
    </div>
</div>